<p id="notice"><%= notice %></p>

<table>
	<p>
	  <strong>Isapre:</strong>
	  <%= @isapre.isapre %>
	</p>
</table>

<%= link_to 'Editar', edit_isapre_path(@isapre) %> |
<%= link_to 'Volver', isapres_path %>
