
<%if current_user %>
<h2>Bienvenido <%=current_user.nombre%>.</h2>
<% else %>
<h2>Bienvenido</h2>
<% end %>
<h6>Este es un sistema de remuneraciones creado como proyecto de tesis.</h6>


<h6>Hoy es: <%=Time.now.strftime("%d/%m/%Y")%> y la hora actual es: <%=Time.now.strftime("%I:%M:%S")%>.</h6>


