
<%if current_user %>
<h1>Bienvenido <%=current_user.nombre%>.</h1>
<% else %>
<h1>Bienvenido</h1>
<% end %>
<p>Este es un sistema de remuneraciones creado como proyecto de tesis</p>

<p>Hoy es: <%=Time.now.strftime("%d/%m/%Y")%> y la hora actual es: <%=Time.now.strftime("%I:%M:%S")%>. </p> 